@model People


<h1>@Model.Id</h1>
<h1>@Model.FullName</h1>
<h1>@Model.Age</h1>
<h1>I am Abdulkadir Temizoğlu</h1>

<p>
    My name is Abdulkadir Temizoğlu.
    I am 21 years old. I am studying at Yildiz Technical University in Math engineering .
    I started this department 2021 ,
    I hope it will be finished by 2026.
</p>
